<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <ul class="nav_bar--horizontal">
      <li>
        <a href="/index.html">Startsida</a>
      </li>
      <li>
        <a href="/view/viktiga_handelser.html">Viktiga händelser</a>
      </li>
      <li>
        <a href="/view/hemsidor_utvecklats.html">Hur hemsidor har utvecklats</a>
      </li>
      <li>
        <a href="/view/principer.html">Internets grundläggande principer</a>
      </li>
      <li>
        <a href="/view/webbpubliceringssystem.html">Webbpubliceringssystem</a>
      </li>
      <li>
        <a href="/view/vadjagtycker.html">Vad jag tycker</a>
      </li>
  </ul>
  <body>
      <div class="container">
                          
                
          <br/>
          <h1 class="startheader">
            Hemsidors Utveckling
          </h1>
          <br />
          <br />
          <br />
          <h2 class ="startheader">
              Hur YouTube.com har utvecklats med tiden</h2>
              <div class="startheader">
                  Här är en väldigt tidig version av hemsidan YouTube. Den är ganska lik hur den ser ut idag, över tio år senare, </br>
                  men man ser tydligt vad som kan göras bättre. Hemsidan har ett ganska fult gränssnitt och är väldigt oorganiserad.
                  <br />
                  <br />
                  <br />
                  <img src="https://i.imgur.com/WiTP6c0.jpg" alt="youtube.com" width="800">
              </div>
          <br />
          <br />
          <br />
          <h2 class ="startheader">
              Några år senare</h2>
              <div class="startheader">
                  Här kan man se att hemsidan har fått ett mer modernt gränssnitt med en bättre navbar som innehåller en sökruta <br />
                  Det är också tydligare vad som är vad och hemsidan är inte lika cluttrad.
                  <br />
                  <br />
                  <br />
                  <img src="https://i.imgur.com/BzYuYt4.jpeg" alt="youtube.com" width="800">
              </div>
              
          <br />
          <br />
          <br />
          <h2 class ="startheader">
            Ytterligare några år senare</h2>
            <div class="startheader">
                Nu har Youtube fått ett mycket mer modernt gränssnitt och en mer ögonvänlig design.
                <br />
                <br />
                <br />
                <img src="https://i.imgur.com/X2iSVET.jpeg" alt="youtube.com" width="800">
              </div>
          <br />
          <br />
          <br />
          <h2 class ="startheader">
              Två år senare</h2>
              <div class="startheader">
                Här har Youtube en väldigt modern look som är mycket mer minimalistisk.
                <br />
                <br />
                <br />
                <img src="https://i.imgur.com/d9p3gUX.jpeg" alt="youtube.com" width="800">
              </div>
          <br />
          <br />
          <br />
          
            </div>
            
         
            
</body>

</html>