<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <ul class="nav_bar--horizontal">
      <li>
        <a href="/index.html">Startsida</a>
      </li>
      <li>
        <a href="/view/viktiga_handelser.html">Viktiga händelser</a>
      </li>
      <li>
        <a href="/view/hemsidor_utvecklats.html">Hur hemsidor har utvecklats</a>
      </li>
      <li>
        <a href="/view/principer.html">Internets grundläggande principer</a>
      </li>
      <li>
        <a href="/view/webbpubliceringssystem.html">Webbpubliceringssystem</a>
      </li>
      <li>
        <a href="/view/vadjagtycker.html">Vad jag tycker</a>
      </li>
  </ul>
  <body>
    <div class="container">
                          
                
            <br/>
            <h1 class="startheader">
              Vad jag tycker om Viktiga Händelser
            </h1>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Här kläcks idén om ett "intergalaktiskt nätverk" - 1963</h2>
                <div class="startheader">
                    blablabla
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Starten på internet heter Arpanet - 1969</h2>
                <div class="startheader">
                    blablabla
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Starten på internet heter Arpanet - 1969</h2>
                <div class="startheader">
                    blablabla
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Starten på internet heter Arpanet - 1969</h2>
                <div class="startheader">
                    blablabla
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Starten på internet heter Arpanet - 1969</h2>
                <div class="startheader">
                    blablabla
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Starten på internet heter Arpanet - 1969</h2>
                <div class="startheader">
                    blablabla
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Starten på internet heter Arpanet - 1969</h2>
                <div class="startheader">
                    blablabla
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Starten på internet heter Arpanet - 1969</h2>
                <div class="startheader">
                    blablabla
                </div>
              </div>
              
           
              
  </body>

</html>