<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <ul class="nav_bar--horizontal">
      <li>
        <a href="/index.html">Startsida</a>
      </li>
      <li>
        <a href="/view/viktiga_handelser.html">Viktiga händelser</a>
      </li>
      <li>
        <a href="/view/hemsidor_utvecklats.html">Hur hemsidor har utvecklats</a>
      </li>
      <li>
        <a href="/view/principer.html">Internets grundläggande principer</a>
      </li>
      <li>
        <a href="/view/webbpubliceringssystem.html">Webbpubliceringssystem</a>
      </li>
      <li>
        <a href="/view/vadjagtycker.html">Vad jag tycker</a>
      </li>
  </ul>
  <body>
    <div class="container">
                          
                
            <br/>
            <h1 class="startheader">
              Vad jag tycker om Viktiga Händelser
            </h1>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Här kläcks idén om ett "intergalaktiskt nätverk" - 1963</h2>
                <div class="startheader">
                    Idén om ett "intergalaktiskt nätverk" måste ha låtit som sci-fi när man började tänka på det på 60-talet. <br/>
                    För mindre än 60 år sen så var det internet som vi tar för givet idag bara en liten idé, idag klarar vi oss inte utan det. 
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                Starten på internet heter Arpanet - 1969</h2>
                <div class="startheader">
                        "Arpanet", internet som spädbarn. Jag tycker att det är intressant att internet från början kom från amerikas försvar. <br/>
                        Även om militära konflikter och liknande ofta leder till många dåliga saker, <br/>
                        så kommer det väldigt mycket teknologisk utveckling från militär kapprustning.
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                    Svensk upptäckt byggs in i Arpanet - 1972</h2>
                <div class="startheader">
                        Även om Sverige är ett relativt litet land så verkar det ändå som att vi har haft ganska stor påverkan på utvecklingen av internet.
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                    Nu binds Norden ihop när ministerrådet satsar på internet - 1985</h2>
                <div class="startheader">
                    Nordens samarbete inom forskning verkar ha lett till snabb utveckling för internet i Norden. Det kanske inte är så konstigt att hela <br/>
                    Norden än idag är väldigt teknologist framgångsrika.
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                    World wide web skapas – nu kan internet bli en publiksuccé - 1989</h2>
                <div class="startheader">
                    Här börjar man använda adresser till hemsidor. Alltså att alla hemsidor har en URL. Något som vi använder än idag.
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                    Arabiska våren bryter ut – kallas ”Twitter- och Facebookrevolution” - 2011</h2>
                <div class="startheader">
                    Arabiska våren är bra bevis på den extremt stora påverkan som internet kan ha på världen och på politik.
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                    Med Snapchat skickar vi bilder som kan försvinna – och vi lär oss att ”snapa” - 2011</h2>
                <div class="startheader">
                    Snapchat och andra sociala medier som facebook och instagram har verkligen omdefinierat vad det innebär att vara social. <br/>
                    Med sociala medier kan vi kommunicera med massvis av människor utan att gå ut ur våra hus.
                </div>
            <br />
            <br />
            <br />
            <h2 class ="startheader">
                    Privatpersonen får makt över sin data – med GDPR - 2018</h2>
                <div class="startheader">
                    Efter ett antal stora skandaler som John Snowden och Cambridge Analytica så var det på tiden att det bestämdes hur företag <br/>
                    och hemsidor får hantera och använda den information de samlar om en online.
                </div>
              </div>
              
           
              
  </body>

</html>