<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <ul class="nav_bar--horizontal">
      <li>
        <a href="/index.html">Startsida</a>
      </li>
      <li>
        <a href="/view/viktiga_handelser.html">Viktiga händelser</a>
      </li>
      <li>
        <a href="/view/hemsidor_utvecklats.html">Hur hemsidor har utvecklats</a>
      </li>
      <li>
        <a href="/view/principer.html">Internets grundläggande principer</a>
      </li>
      <li>
        <a href="/view/webbpubliceringssystem.html">Webbpubliceringssystem</a>
      </li>
      <li>
        <a href="/view/vadjagtycker.html">Vad jag tycker</a>
      </li>
  </ul>
  <body>
      <div class="container">
                        
              
          <br/>
          <h1 class="startheader">
            Webbpubliceringssystem
          </h1>
          <br />
          <br />
          <br />
          <h2 class ="startheader">
            PHP - Hypertext Preprocessor</h2>
              <div class="startheader">
                  PHP är ett skriftspråk som används på webbservrar för att driva internethemsidor med <br />
                  dynamiskt innehåll. Alltså innehåll som genereras från till exempel besökarens data eller <br />
                  en databas. Språket gavs ut 1995 av Rasmus Lerdorf men har uppdatterats ett antal gånger. <br />
                  Php är fortfarande ett populärt skriftspråk idag. 
                  <br />
                  <br />
                  <br />
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/200px-PHP-logo.svg.png" alt="PHP" width="400">
              </div>
          <br />
          <br />
          <br />
          <h2 class ="startheader">
              Javascript</h2>
              <div class="startheader">
                  Javascript är ett annat webbpubliceringssystem och används också idag. <br/>
                  Det används främst för att skapa skripter som körs på en hemsida. <br/>
                  Men det kan implementeras i program som inte är i en webbläsare. <br/>
                  Ett exempel på javascript utanför hemsidor är Node.js, som tillåter <br/>
                  utvecklaren att använda JavaScript på serversidan för att kunna arbeta med <br/>
                  anslutningar till databaser, skicka e-post-meddelanden och så vidare. <br/>
                  <br />
                  <br />
                  <br />
                  <img src="https://miro.medium.com/max/2560/1*fkGZ1RKN6jvzwN2XHmAnfg.jpeg" alt="Javascript" width="600">
              </div>
              
          
            </div>
            
         
            
    <body>

</html>