<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <ul class="nav_bar--horizontal">
      <li>
        <a href="view/index.html">Startsida</a>
      </li>
      <li>
        <a href="view/viktiga_handelser">Viktiga händelser</a>
      </li>
      <li>
        <a href="view/hemsidor_utvecklats">Hur hemsidor har utvecklats</a>
      </li>
      <li>
        <a href="view/principer">Internets grundläggande principer</a>
      </li>
      <li>
        <a href="view/webbpubliceringssystem">Webbpubliceringssystem</a>
      </li>
  </ul>
  <body>

</html>